{% extends 'portal/portal_layout.html' %}
{% load static %}

{% block main %}

    {% csrf_token %} <!-- Token needed for AJAX calls -->

    {% if too_many_devices %}

        <img src="{% static "logo_red.png" %}" class="logo-connected pt-3 mx-auto d-block animated slow pulse" />

        <div class="text-white text-center pt-4">
            <h2>Attention !</h2>
            <p class="pt-1"><b>Vous êtes connecté sur plus de 3 appareils sur le réseau.</b></p>
            <p>Vous devez déconnecter au moins un appareil du réseau avant de pouvoir accéder à internet sur cet appareil.</p>
        </div>

        <div class="pt-3 col-sm-12 col-md-10 col-lg-8 col-xl-8 text-white mx-auto">
            <table class="table table-sm table-insalan table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">#</th>
                    <th scope="col" class="align-middle">Nom de l'appareil</th>
                    <th scope="col" class="align-middle">Réseau</th>
                    <th scope="col" class="align-middle" style="width: 110px;">Actions</th>
                </tr>
                </thead>
                <tbody id="device-table">

                </tbody>
            </table>
        </div>


    {% else %}

        <img src="{% static "logo_green.png" %}" class="logo-connected pt-3 mx-auto d-block animated slow pulse" />

        <div class="text-white text-center pt-4">
            <h2>Bon jeu, {{ user.username }} !</h2>
            <p class="pt-2">Vous êtes désormais connecté au réseau de l'InsaLan.</p>
        </div>

        <div class="pt-3 col-sm-12 col-md-10 col-lg-8 col-xl-8 text-white mx-auto">
            <p class="text-center">Sachez que vous pouvez connecter au maximum 3 appareils sur le réseau.<br>Voici la liste de vos appareils connectés au réseau :</p>
            <table class="table table-sm table-insalan table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">#</th>
                    <th scope="col" class="align-middle">Nom de l'appareil</th>
                    <th scope="col" class="align-middle">Réseau</th>
                    <th scope="col" class="align-middle" style="width: 110px;">Actions</th>
                </tr>
                </thead>
                <tbody id="device-table">

                </tbody>
            </table>
        </div>


    {% endif %}

    <!-- Modal Remove Device -->

    <div class="modal modal-insalan" id="delete-device-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer l'appareil <b id="delete-device-name"></b> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-device-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal modal-insalan" id="modify-device-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier un appareil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <div class="form-group row" id="create_account_nickname_g">
                                <label for="modify-device-name" class="col-sm-4 col-form-label">Nom de l'appareil : </label>
                                <input type="text" class="form-control col-sm-8" id="modify-device-name">
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-insalan" id="modify-device-confirm-btn">Valider</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).on("click", ".delete-device-btn", function (e) {
            id = $(this).data("deviceid");
            $("#delete-device-confirm-btn").data("deviceid", id);

            $.getJSON( "/api/device_details/"+id, function( data ) {
               $("#delete-device-name").text(data["name"]);
               $("#delete-device-modal").modal("show");
            });
        });

        $(document).on("click", ".modify-device-btn", function (e) {
            $("#modify-device-confirm-btn").data("deviceid", $(this).data("deviceid"));
            $("#modify-device-modal").modal("show");
        });

        current_ip = "{{ current_ip }}";
        {% if too_many_devices %} too_many_devices = true; {% else %} too_many_devices = false; {% endif %}


        function reload_device_table() {

            $("#device-table").empty();

            $.getJSON( "/api/devices_list/{{ user.id }}", function( data ) {
                i = 1;

                $.each(data, function (k, dev) {

                    dev_hint = (dev.ip == current_ip) ? " <b>(cet appareil)</b>" : "";

                    $("#device-table").append("<tr>\n" +
                        "                    <th scope=\"row\">"+i+"</th>\n" +
                        "                    <td>"+dev.name+dev_hint+"</td>\n" +
                        "                    <td>"+dev.area+"</td>\n" +
                        "                    <td>\n" +
                        "                        <div class=\"text-center\" role=\"group\" aria-label=\"Actions\">\n" +
                        "                            <button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Modifier l'appareil\" class=\"btn btn-sec-insalan modify-device-btn\" data-deviceid=\""+dev.id+"\"><span class=\"fas fa-pen\" aria-hidden=\"true\"></span></button>\n" +
                        "                            <button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Supprimer l'appareil\" class=\"btn btn-sec-insalan delete-device-btn\" data-deviceid=\""+dev.id+"\" aria-label=\"Supprimer l'appareil\"><span class=\"fas fa-trash\" aria-hidden=\"true\"></span></button>\n" +
                        "                        </div>\n" +
                        "                    </td>\n" +
                        "                </tr>");

                    i++;

                });
            });
        }

        $.ajaxSetup({

            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    csrftoken = $("[name=csrfmiddlewaretoken]").val();
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }

        });

        $("#delete-device-confirm-btn").click( function () {

            let id = $(this).data("deviceid");

            $.ajax({
                url: '/api/device_details/'+id+'/',
                type: 'DELETE',

                success: function(result) {

                    if (too_many_devices) {
                        location.reload();
                    }

                    else {
                        reload_device_table();
                    }
                }

                // TODO: Handle errors
            });


            $("#delete-device-modal").modal('hide');


        });

        $("#modify-device-confirm-btn").click( function () {

            let id = $(this).data("deviceid");

            $.ajax({
                url: '/api/device_details/'+id+'/',
                type: 'PUT',
                data: "name="+encodeURI($("#modify-device-name").val()),

                success: function(result) {
                    reload_device_table();
                }

                // TODO: Handle errors
            });

            $("#modify-device-modal").modal('hide');


        });


        $(document).ready(function() {
            reload_device_table();
        });

        $(document).ready(function() {
            $("#device-table").tooltip({offset: "5px, 5px", selector: '[data-toggle=tooltip]' });
        });


    </script>

{% endblock %}
