{% extends 'portal/portal_layout.html' %}
{% load static %}

{% block title %}Connecté{% endblock %}
{% block main %}

    {% csrf_token %} <!-- Token needed for AJAX calls -->

    {% if too_many_devices %}

        <img src="{% static "logo_red.png" %}" class="logo-connected pt-3 mx-auto d-block animated slow pulse" />

        <div class="text-white text-center pt-4">
            <h2>Attention !</h2>
            <p class="pt-1"><b>Vous êtes connecté sur plus de {{ device_quota }} appareils sur le réseau.</b></p>
            <p>Vous devez déconnecter au moins un appareil du réseau avant de pouvoir accéder à internet sur cet appareil.</p>
        </div>

        <div class="pt-3 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-white mx-auto">
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">#</th>
                    <th scope="col" class="align-middle">Nom de l'appareil</th>
                    <th scope="col" class="align-middle">Réseau</th>
                    <th scope="col" class="align-middle" style="width: 110px;">Actions</th>
                </tr>
                </thead>
                <tbody id="device-table">

                </tbody>
            </table>
        </div>


    {% else %}

        <img src="{% static "logo_green.png" %}" class="logo-connected pt-3 mx-auto d-block animated slow pulse" />

        <div class="text-white text-center pt-4">
            <h2>Bon jeu, {{ user.username }} !</h2>
            <p class="pt-2">Vous êtes désormais connecté au réseau de l'InsaLan.</p>
        </div>

        <div class="pt-3 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-white mx-auto">
            <p class="text-center">Vous pouvez connecter au maximum {{ device_quota }} appareils sur le réseau.<br>Voici la liste de vos appareils connectés au réseau :</p>
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">#</th>
                    <th scope="col" class="align-middle">Nom de l'appareil</th>
                    <th scope="col" class="align-middle">Réseau</th>
                    <th scope="col" class="align-middle" style="width: 110px;">Actions</th>
                </tr>
                </thead>
                <tbody id="device-table">

                </tbody>
            </table>
        </div>


    {% endif %}

    <!-- Modal Remove Device -->

    <div class="modal modal-insalan" id="delete-device-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer l'appareil <b id="delete-device-name"></b> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-device-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Modify Device -->

    <div class="modal modal-insalan" id="modify-device-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier un appareil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="modify-device-form" action="javascript:void(0);">
                            <div class="form-group row" id="create_account_nickname_g">
                                <label for="modify-device-name" class="col-sm-4 col-form-label">Nom de l'appareil : </label>
                                <input type="text" class="form-control col-sm-8" id="modify-device-name">
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modify-device-confirm-btn">Valider</button>
                </div>
            </div>
        </div>
    </div>


   <script>
	user_id = "{{ user.id }}";
        current_ip = "{{ current_ip }}";
        {% if too_many_devices %} too_many_devices = true; {% else %} too_many_devices = false; {% endif %}
   </script>

   <script src="{% static "js/main-global.js" %}"></script>
   <script src="{% static "js/main-user.js" %}"></script>
   
   <script>

        $(document).ready(function() {
            reload_device_table();

            $("#device-table").tooltip({offset: "5px, 5px", selector: '[data-toggle=tooltip]' });
        });


   </script>

{% endblock %}
