{% extends 'portal/portal_layout.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block main %}

    <div class="pt-5 text-white text-center">
        <h2>Foire aux Questions</h2>
        <p>Cette page regroupe les questions régulièrement posées au sujet du réseau de l'InsaLan.</p>
    </div>

    <div class="text-white col-xl-9 col-md-10 col-sm-12 col-xs-12 mx-auto">
        <div class="faq-cat">
            <p class="faq-cat-header">Compte Insalan</p>
            <div class="faq-cat-content">
                <a data-toggle="collapse" href="#faq-answer-1" aria-expanded="false" aria-controls="faq-answer-1"
                   class="faq-question">J'ai perdu mon mot de passe <i class="fas fa-caret-down"></i></a>

                <div class="row faq-answer-container">
                    <div class="col">
                        <div class="collapse multi-collapse" class="faq-answer" id="faq-answer-1">
				<p>Vous pouvez soit utiliser un téléphone portable en 4G pour récupérer votre mot de passe en ligne sur <a href="https://www.insalan.fr">insalan.fr</a>, soit demander à un administrateur de vous recréer un compte local.</p>
                        </div>
                    </div>
                </div>

                <a data-toggle="collapse" href="#faq-answer-2" aria-expanded="false" aria-controls="faq-answer-2"
                   class="faq-question">Je n'arrive pas à me connecter <i class="fas fa-caret-down"></i></a>

                <div class="row faq-answer-container">
                    <div class="col">
                        <div class="collapse multi-collapse" class="faq-answer" id="faq-answer-2">
                            <p>N'hésitez pas à contacter un membre du staff qui vous aidera.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="faq-cat">
            <p class="faq-cat-header">Réseau</p>
            <div class="faq-cat-content">
                <a data-toggle="collapse" href="#faq-answer-4" aria-expanded="false" aria-controls="faq-answer-4"
                   class="faq-question">Mon ordinateur ne se connecte pas au réseau ou indique que la connexion est limitée <i class="fas fa-caret-down"></i></a>

                <div class="row faq-answer-container">
                    <div class="col">
                        <div class="collapse multi-collapse" class="faq-answer" id="faq-answer-4">
				<ul class="mt-1">
					<li>Revérifiez que votre câble réseau est bien branché.</li>
					<li>Vérifiez que le pilote de votre carte réseau est bien installé.</li>
					<li>Si votre problème n'est pas résolu, n'hésitez pas à contacter un membre du staff qui vous aidera.</li>
				</ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="{% static "js/main-user.js" %}"></script>

{% endblock %}
