<div class="pt-3 pb-2 text-white col-12 mx-auto">
    <h1 class="text-white" id="management-title">Interface d'administration</h1>
    <hr class="mt-2 mb-4">
</div>

<div class="col-md-3 col-lg-2 col-xl-2">

    <ul class="nav flex-column nav-pills management-nav-insalan">
        <li class="nav-item">
            <a class="nav-link {% if page_name == "management" %}active{% endif %}" href="{% url 'management' %}">Utilisateurs & Appareils</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link {% if page_name == "management_widgets" %}active{% endif %}" href="{# url 'widgets' #}">Widgets</a>
        </li>
        -->
        <li class="nav-item">
            <a class="nav-link {% if page_name == "management_announces" %}active{% endif %}" href="{% url 'announces' %}">Annonces</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if page_name == "management_whitelist" %}active{% endif %}" href="{% url 'whitelist' %}">Autorisation d'Appareils</a>
        </li>
    </ul>

</div>
