{% extends 'layout.html' %}
{% load static %}

{% block title %}Administration des joueurs{% endblock %}
{% block content %}

    {% include 'portal/modal_create_user.html' %}
    {% include 'portal/modal_modify_user.html' %}
    {% include 'portal/modal_user_details.html' %}

    {% csrf_token %} <!-- Token needed for AJAX calls -->

    {% include 'portal/management_layout.html' %}

    <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10 text-white mx-auto">

        <nav id="navbar-title" class="navbar navbar-dark pb-4">
            <a class="navbar-brand" href="#"></a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary align-right" data-toggle="modal" data-target="#create-user-modal">Nouvel utilisateur</button>
                </li>
            </ul>
        </nav>


        <table id="user-table" class="table table-sm table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Adresse mail</th>
                <th scope="col">Rôle</th>
                <th scope="col">Tournoi</th>
                <th scope="col">Équipe</th>
		<th scope="col" style="width: 10%;">Actions</th>
            </tr>
            </thead>
        </table>

    </div>

    <!-- Modal Remove User -->

    <div class="modal modal-insalan" id="delete-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer l'utilisateur <b id="delete-user-name"></b> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-user-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Warning User Password -->

    <div class="modal modal-insalan" id="user-password-warning-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Avertissement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Vous allez regénérer le mot de passe de l'utilisateur <strong id="user-password-warning-username"></strong>.<br>
                    N'utilisez cette fonctionalité que sur demande de l'utilisateur !</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="user-password-warning-confirm-btn">Je sais ce que je fais</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Regenerate User Password -->

    <div class="modal modal-insalan" id="user-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mot de passe généré</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Vous pouvez communiquer à l'utilisateur le mot de passe :</p>
                    <p class="display-3 text-center" id="user-password-field"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal Device Network Usage Graph -->

    <div class="modal modal-insalan" id="device-usage-graph-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Graphe d'utilisation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <div class="ml-2 mr-3">
                        <canvas id="device-usage-graph">Votre navigateur ne supporte pas cet affichage, vous devriez probablement le mettre à jour.</canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Remove Device -->

    <div class="modal modal-insalan" id="delete-device-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer l'appareil <b id="delete-device-name"></b> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-device-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>



    <script src="{% static "js/Chart.bundle.min.js" %}"></script>

    <script>

	let table = null;

        $(document).ready(function () {

            table = $("#user-table").DataTable({

                ajax: {
                    url: '/api/user_list',
                    dataSrc: ''
                },

                columns: [
                    { "data": "id" },
                    { "data": "username" },
                    { "data": "email" },
                    { "data": "profile.role" },
                    { "data": "profile.tournament" },
                    { "data": "profile.team" },
                    { "data": null}
                ],

                columnDefs: [
                    {
                        "render": function ( data, type, row ) {

                            let html = "<div role=\"group\" class=\"btn-group btn-group-sm\" aria-label=\"Actions\">\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Modifier l'utilisateur\" class=\"btn btn-secondary modify-user-btn\" data-userid=\""+row["id"]+"\"><span class=\"fas fa-pen\" aria-hidden=\"true\"></span></button>\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Regénérer le mot de passe\" class=\"btn btn-secondary user-password-btn\" data-userid=\""+row["id"]+"\"><span class=\"fas fa-key\" aria-hidden=\"true\"></span></button>\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Appareils enregistrés\" class=\"btn btn-secondary user-details-btn\" data-userid=\""+row["id"]+"\"><span class=\"fas fa-globe\" aria-hidden=\"true\"></span></button>\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Supprimer l'utilisateur\" class=\"btn btn-secondary delete-user-btn\" data-userid=\""+row["id"]+"\"><span class=\"fas fa-trash\" aria-hidden=\"true\"></span></button>\n" +
                                    "</div>";

                            return html;
                        },

                        "orderable": false,

                        "targets": 6
                    },
                ],

                order: [[1, 'asc']]
            });

            $("#user-table").tooltip({offset: "5px, 5px", selector: '[data-toggle=tooltip]'});

        });

    </script>

   <script src="{% static "js/main-global.js" %}"></script>
   <script src="{% static "js/main-admin.js" %}"></script>

{% endblock %}
