{% extends 'layout.html' %}
{% load static %}

{% block title %}Administration des joueurs{% endblock %}
{% block content %}

    {% include 'portal/modal_create_user.html' %}
    {% include 'portal/modal_modify_user.html' %}
    {% include 'portal/modal_user_details.html' %}

    {% csrf_token %} <!-- Token needed for AJAX calls -->

    {% include 'portal/management_layout.html' %}

    <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10 text-white mx-auto">

        <nav id="navbar-title" class="navbar navbar-dark pb-4">
            <a class="navbar-brand" href="#"></a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <button type="button" class="btn btn-insalan align-right" data-toggle="modal" data-target="#create-user-modal">Nouvel utilisateur</button>
                </li>
            </ul>
        </nav>


        <table id="user-table" class="table table-sm table-insalan">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Adresse mail</th>
                <th scope="col">Rôle</th>
                <th scope="col">Tournoi</th>
                <th scope="col">Équipe</th>
                <th scope="col" class="col-actions-admin-insalan">Actions</th>
            </tr>
            </thead>
        </table>

    </div>

    <!-- Modal Remove User -->

    <div class="modal modal-insalan" id="delete-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer l'utilisateur <b id="delete-user-name"></b> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-user-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Warning User Password -->

    <div class="modal modal-insalan" id="user-password-warning-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Avertissement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Vous allez regénérer le mot de passe de l'utilisateur <strong id="user-password-warning-username"></strong>.<br>
                    N'utilisez cette fonctionalité que sur demande de l'utilisateur !</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="user-password-warning-confirm-btn">Je sais ce que je fais</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Regenerate User Password -->

    <div class="modal modal-insalan" id="user-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mot de passe généré</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Vous pouvez communiquer à l'utilisateur le mot de passe :</p>
                    <p class="display-3 text-center" id="user-password-field"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal Device Network Usage Graph -->

    <div class="modal modal-insalan" id="device-usage-graph-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Graphe d'utilisation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <div class="ml-2 mr-3">
                        <canvas id="device-usage-graph">Votre navigateur ne supporte pas cet affichage, vous devriez probablement le mettre à jour.</canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Remove Device -->

    <div class="modal modal-insalan" id="delete-device-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer l'appareil <b id="delete-device-name"></b> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-device-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>



    <script src="{% static "js/Chart.bundle.min.js" %}"></script>

    <script>

	    var table = null;

        /* User delete button onclick handler */

        $(document).on("click", ".delete-user-btn", function () {
            let id = $(this).data("userid");
            $("#delete-user-confirm-btn").data("userid", id);

            $.getJSON("/api/user_details/" + id, function (data) {
                $("#delete-user-name").text(data["username"]);
                $("#delete-user-modal").modal("show");
            });
        });

        /* User modify button onclick handler */

        $(document).on("click", ".modify-user-btn", function () {

            let id = $(this).data("userid");
            $("#modify-user-confirm-btn").data("userid", id);

            $("#modify-user-last-name").empty();
            $("#modify-user-first-name").empty();
            $("#modify-user-email").empty();
            $("#modify-user-team").empty();
            $("#modify-user-username").empty();
            $("#modify-user-max-nb-device").empty();

            $.getJSON("/api/user_details/" + id, function (data) {
                $("#modify-user-last-name").val(data["last_name"]);
                $("#modify-user-first-name").val(data["first_name"]);
                $("#modify-user-email").val(data["email"]);
                $("#modify-user-team").val(data["profile"]["team"]);
                $("#modify-user-username").val(data["username"]);
                $("#modify-user-max-nb-device").val(data["profile"]["max_device_nb"]);
                $("#modify-user-tournament option").each(function() { this.selected = (this.text == data["profile"]["tournament"]); });
                $("#modify-user-role option").each(function() { this.selected = (this.text == data["profile"]["role"]); });
            });


            $("#modify-user-modal").modal('show');

        });

        /* User confirm generate password button onclick handler */

        $(document).on("click", "#user-password-warning-confirm-btn", function () {

            let id = $(this).data("userid");

            $.getJSON("/api/user_password/" + id, function (data) {
                $("#user-password-field").text(data["password"]);
                $("#user-password-warning-modal").modal("hide");
                $("#user-password-modal").modal("show");
            });


        });

        /* User generate password button onclick handler */

        $(document).on("click", ".user-password-btn", function () {
            let id = $(this).data("userid");
            $("#user-password-warning-confirm-btn").data("userid", id);

            $.getJSON("/api/user_details/" + id, function (data) {
                $("#user-password-warning-username").text(data["username"]);
                $("#user-password-warning-modal").modal("show");
            });


        });


        function reload_user_details(id) {

            $("#device-table").empty();
            $("#user-username").empty();
            $("#user-last-name").empty();
            $("#user-first-name").empty();
            $("#user-team").empty();
            $("#user-tournament").empty();
            $("#user-role").empty();

            $.getJSON("/api/user_details/" + id, function (data) {
                $("#user-username").text(data["username"]);
                $("#user-last-name").text(data["last_name"]);
                $("#user-first-name").text(data["first_name"]);
                $("#user-role").text(data["profile"]["role"]);
                $("#user-tournament").text(data["profile"]["tournament"]);
                $("#user-team").text(data["profile"]["team"]);
            });



            $.getJSON("/api/devices_list/"+id, function (data) {

                if (data.length == 0) {
                    $("#device-table").append("<tr><td colspan=\"2\">Aucun périphérique enregistré.</td></tr>")
                }

                else {

                    $.each(data, function (k, dev) {

                        $.getJSON("/api/device_status/" + dev["id"], function (data) {

                            let devStatus = "";

                            switch (data["status"]) {

                                case "up":
                                    devStatus = "<span class=\"badge badge-success\"><i class=\"fas fa-check\"></i></span>";
                                    break;

                                case "down":
                                    devStatus = "<span class=\"badge badge-warning\"><i class=\"fas fa-times\"></i></span>";
                                    break;

                            }

                            $("#device-table").append("<tr>\n" +
                                "<td>" + dev["name"] + "</td>\n" +
                                "<td>" + dev["area"] + "</td>\n" +
                                "<td>" + dev["ip"] + "</td>\n" +
                                "<td>" + dev["mac"].toUpperCase() + "</td>\n" +
                                "<td>" + data["mark"] + "</td>\n" +
                                "<td>" + devStatus + "</td>\n" +
                                "<td>\n" +
                                "<div aria-label=\"Actions\">" +
                                //"<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Consommation données\" class=\"btn btn-sec-insalan device-usage-graph-btn\" data-deviceid=\"" + dev['id'] + "\" aria-label=\"Consommation données\"><span class=\"fas fa-chart-area\" aria-hidden=\"true\"></span></button>\n" +
                                "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Supprimer l'appareil\" class=\"btn btn-sec-insalan delete-device-btn\" data-deviceid=\"" + dev['id'] + "\" aria-label=\"Supprimer l'appareil\"><span class=\"fas fa-trash\" aria-hidden=\"true\"></span></button>\n" +
                                "</div>" +
                                "</td>\n" +
                                "</tr>\n" +
                                "</tr>\n");

                        });

                    });

                    $("#device-table").tooltip({offset: "5px, 5px", selector: '[data-toggle=tooltip]'});

                }


            });
		
	}


        /* User details button onclick handler */

        $(document).on("click", ".user-details-btn", function () {
            let id = $(this).data("userid");

            reload_user_details(id);

            $("#user-details-modal").modal("show");

        });

        /* Device graph button onclick handler */

        /*$("#device-table").on("click", ".device-usage-graph-btn", function () {
            let id = $(this).data("deviceid");

            //$("#user-details-modal").modal("hide");

            let chartConf = {

                type: 'line',
                data: {
                    datasets: [{
                        label: "Download",
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        borderColor: 'rgba(249, 12, 0, 0.8)',
                        showLine: true,
                        data: [],
                    },

                    {
                        label: "Upload",
                        backgroundColor: 'rgba(0, 0, 0, 0)',
                        borderColor: 'rgba(69, 232, 0, 0.8)',
                        showLine: true,
                        data: [],
                    }]
                },
                options: {
                    title: {
                        display: false,
                        text: 'Usage du réseau'
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            display: true,
                            scaleLabel: {
                                display: true
                            },
                            gridLines: {
                                color: 'rgba(255, 255, 255, 0.1)'
                            },
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                type: 'linear',
                                display: true,
                                labelString: 'Mb/s'
                            },
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 100,
                            },
                            gridLines: {
                                color: 'rgba(255, 255, 255, 0.1)'
                            }
                        }]
                    },
                    animation: {
                        easing: 'linear',
                        duration: 1000 * 1.8,
                    }
                }
                // Configuration options go here
            };

            let ctx = $("#device-usage-graph");
            chart = new Chart(ctx, chartConf);

            chartUpdate = setInterval(function () {

                $.getJSON("/api/device_status/" + id, function (data) {
                    d = new Date();
                    chart.data.datasets[0].data.push({x: new Date(d.getTime()), y: data["download"]});
                    chart.data.datasets[1].data.push({x: new Date(d.getTime()), y: data["upload"]});

                    if (chart.data.datasets[0].data.length > 24) {
                        chart.data.datasets[0].data.shift();
                        chart.data.datasets[1].data.shift();
                    }

                    chart.update();
                });

            }, 2500);

            $("#device-usage-graph-modal").modal("show");


        });

        // Device graph modal onHide handler

        $('#device-usage-graph-modal').on('hidden.bs.modal', function (e) {
            clearInterval(chartUpdate);
        });

        */


        /* Delete device button onClick handler */

        $(document).on("click", ".delete-device-btn", function (e) {
            id = $(this).data("deviceid");
            $("#delete-device-confirm-btn").data("deviceid", id);

            $.getJSON( "/api/device_details/"+id, function( data ) {
               $("#delete-device-name").text(data["name"]);
               $("#delete-device-modal").modal("show");
            });
        });



        $.ajaxSetup({

            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    csrftoken = $("[name=csrfmiddlewaretoken]").val();
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }

        });

        $("#delete-user-confirm-btn").click( function () {

            let id = $(this).data("userid");

            $.ajax({
                url: '/api/user_details/'+id,
                type: 'DELETE',

                success: function(result) {
                    table.ajax.reload();
                },

                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }

            });


            $("#delete-user-modal").modal('hide');


        });

        $('#create-user-role').on('change', function() {
           if (this.value != "Role.P") {

               if ($("#create-user-max-nb-device-g").hasClass("d-none")){
                   $("#create-user-max-nb-device-g").removeClass("d-none");
               }

           }

           else {

               if (!$("#create-user-max-nb-device-g").hasClass("d-none")){
                   $("#create-user-max-nb-device-g").addClass("d-none");
               }

           }
        });

        $('#create-user-modal').on('show.bs.modal', function (e) {
            $("#create-user-feedback").empty();
            $("#create-user-feedback").addClass("d-none");
        });

        $("#create-user-btn").click( function () {

            let data = {
                "first_name": $("#create-user-first-name").val(),
                "last_name": $("#create-user-last-name").val(),
                "username": $("#create-user-username").val(),
                "email": $("#create-user-email").val(),
                "is_active": true,
                "profile": {
                    "max_device_nb": $("#create-user-max-nb-device").val(),
                    "role": $("#create-user-role").val(),
                    "tournament": ($("#create-user-tournament").val() != "no") ? $("#create-user-tournament").val() : null,
                    "team": ($("#create-user-team").val() != "") ? $("#create-user-team").val() : null
                }
            };

            $.ajax({
                url: '/api/user_list/',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data),

                success: function(result) {

                    if ($("#create-user-password").val() == "") {
                        $.getJSON("/api/user_password/" + result["id"], function (data) {
                            $("#create-user-feedback").removeClass("d-none");
                            $("#create-user-feedback").append("<div class=\"alert alert-success-insalan\" role=\"alert\"><strong>Utilisateur " + result["username"] + " créé avec succès !</strong><br>Mot de passe de connexion : <strong>" + data["password"] + "</strong>.</div>")
                        });
                    }

                    else {
                        $.ajax({
                            url: '/api/user_password/'+result["id"],
                            type: 'POST',
                            contentType: "application/json; charset=utf-8",
                            data : JSON.stringify({ "password" : $("#create-user-password").val() }),

                            success: function(data) {
                                $("#create-user-feedback").append("<div class=\"alert alert-success-insalan\" role=\"alert\"><strong>Utilisateur " + result["username"] + " créé avec succès !</strong></div>")
                            },

                            error: function (xhr, textStatus, errorThrown) {
                                handle_error(textStatus, errorThrown, xhr.responseText);
                            }

                        });

                    }

                    $("#create-user-form")[0].reset();
                    $("#create-user-feedback").empty();

                    $("#create-user-last-name").focus();
		            table.ajax.reload();
                },


                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }

            });


        });

        $("#modify-user-confirm-btn").click( function () {

            let id = $(this).data("userid");

            let data = {
                "first_name": $("#modify-user-first-name").val(),
                "last_name": $("#modify-user-last-name").val(),
                "username": $("#modify-user-username").val(),
                "email": $("#modify-user-email").val(),
                "is_active": true,
                "profile": {
                    "max_device_nb": $("#modify-user-max-nb-device").val(),
                    "role": $("#modify-user-role").val(),
                    "tournament": ($("#modify-user-tournament").val() != "no") ? $("#modify-user-tournament").val() : null,
                    "team": ($("#modify-user-team").val() != "") ? $("#modify-user-team").val() : null
                }
            };

            $.ajax({
                url: '/api/user_details/'+id,
                type: 'PUT',
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data),

                success: function(result) {
                    $("#modify-user-modal").modal('hide');
                    table.ajax.reload();
                },

                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }

            });
            

        });



        $("#delete-device-confirm-btn").click(function () {

            let id = $(this).data("deviceid");

            $.ajax({
                url: '/api/device_details/' + id + '/',
                type: 'DELETE',

                success: function (result) {
                	reload_user_details(id);
                },

                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }

            });

            $("#delete-device-modal").modal('hide');

        });


        $(document).ready(function () {

            table = $("#user-table").DataTable({

                ajax: {
                    url: '/api/user_list',
                    dataSrc: ''
                },

                columns: [
                    { "data": "id" },
                    { "data": "username" },
                    { "data": "email" },
                    { "data": "profile.role" },
                    { "data": "profile.tournament" },
                    { "data": "profile.team" },
                    { "data": null}
                ],

                columnDefs: [
                    {
                        "render": function ( data, type, row ) {

                            let html = "<div role=\"group\" class=\"btn-group\" aria-label=\"Actions\">\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Modifier l'utilisateur\" class=\"btn btn-sec-insalan modify-user-btn\" data-userid=\""+row["id"]+"\"><span class=\"fas fa-pen\" aria-hidden=\"true\"></span></button>\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Regénérer le mot de passe\" class=\"btn btn-sec-insalan user-password-btn\" data-userid=\""+row["id"]+"\"><span class=\"fas fa-key\" aria-hidden=\"true\"></span></button>\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Appareils enregistrés\" class=\"btn btn-sec-insalan user-details-btn\" data-userid=\""+row["id"]+"\"><span class=\"fas fa-globe\" aria-hidden=\"true\"></span></button>\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Supprimer l'utilisateur\" class=\"btn btn-sec-insalan delete-user-btn\" data-userid=\""+row["id"]+"\"><span class=\"fas fa-trash\" aria-hidden=\"true\"></span></button>\n" +
                                    "</div>";

                            return html;
                        },

                        "orderable": false,

                        "targets": 6
                    },
                ],

                order: [[1, 'asc']]
            });

            $("#user-table").tooltip({offset: "5px, 5px", selector: '[data-toggle=tooltip]'});

        });





    </script>



{% endblock %}
