{% extends 'layout.html' %}
{% load static %}

{% block title %}Administration des widgets{% endblock %}
{% block content %}

    {% csrf_token %} <!-- Token needed for AJAX calls -->

    {% include 'portal/management_layout.html' %}

    <div class="col-sm-12 col-md-9 col-lg-10 col-xl-10 text-white mx-auto">

        <ul class="nav nav-tabs" role="tablist" id="widgets-categories-tab-list">
            <li class="nav-item">
                <a class="nav-link active" id="widget-announces-tab" data-toggle="tab" href="#widget-announces" role="tab" aria-controls="home" aria-selected="true">Annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="widget-realtime-status-tab" data-toggle="tab" href="#widget-realtime-status" role="tab" aria-controls="profile" aria-selected="false">Temps réel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="widget-pizzas-tab" data-toggle="tab" href="#widget-pizzas" role="tab" aria-controls="contact" aria-selected="false">Pizzas</a>
            </li>
        </ul>

        <div class="tab-content" id="widgets-categories-tab-content">
            <div class="tab-pane fade show active" id="widget-announces" role="tabpanel" aria-labelledby="widget-announces-tab">

                <nav class="navbar navbar-dark mt-4">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <button type="button" class="btn btn-insalan align-left" data-toggle="modal" data-target="#create-announce-modal">Nouvelle annonce</button>
                        </li>
                    </ul>
                </nav>


                <div class="text-white mx-auto col-md-8">
                    <table class="table table-sm table-insalan table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="align-middle">#</th>
                            <th scope="col" class="align-middle">Titre</th>
                            <th scope="col" class="align-middle">Contenu</th>
                            <th scope="col" class="align-middle" style="width: 90px;">Visibilité</th>
                            <th scope="col" class="align-middle" style="width: 110px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="announces-table">

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="tab-pane fade" id="widget-realtime-status" role="tabpanel" aria-labelledby="widget-realtime-status-tab">

                <div class="text-white mt-5 col-md-9 mx-auto">

                    <div id="realtime-feedback" class="pb-md-3"></div>

                    <form action="javascript:void(0);">

                        <div class="form-group row">
                            <div class="col-sm-4">Widget visible ?</div>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="realtime-visible">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="realtime-lan-status" class="col-form-label col-sm-4">État du réseau local (LAN) :</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="realtime-lan-status">
                                    <option value="Status.O">ok</option>
                                    <option value="Status.U">instable</option>
                                    <option value="Status.F">ko</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="realtime-wan-status" class="col-form-label col-sm-4">État de l'accès à internet (WAN) :</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="realtime-wan-status">
                                    <option value="Status.O">ok</option>
                                    <option value="Status.U">instable</option>
                                    <option value="Status.F">ko</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="realtime-csgo-status" class="col-form-label col-sm-4">État des serveurs de jeu CS:GO :</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="realtime-csgo-status">
                                    <option value="Status.O">ok</option>
                                    <option value="Status.U">instable</option>
                                    <option value="Status.F">ko</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-insalan" id="realtime-confirm-btn">Enregistrer</button>
                            </div>
                        </div>


                    </form>
                </div>

            </div>
            <div class="tab-pane fade" id="widget-pizzas" role="tabpanel" aria-labelledby="widget-pizzas-tab">

                <div class="text-white mt-5 col-md-9 mx-auto">

                    <div id="pizzas-feedback" class="pb-md-3"></div>

                    <form action="javascript:void(0);">

                        <div class="form-group row">
                            <div class="col-sm-4">Widget visible ?</div>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="pizzas-visible">
                                </div>
                            </div>
                        </div>

                    </form>

                    <nav class="navbar navbar-dark mt-5">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <button type="button" class="btn btn-insalan align-left" data-toggle="modal" data-target="#create-pizza-slot-modal">Nouveau créneau</button>
                            </li>
                        </ul>
                    </nav>


                    <table class="table table-sm table-insalan table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="align-middle">#</th>
                            <th scope="col" class="align-middle">Début des commandes</th>
                            <th scope="col" class="align-middle">Fin des commandes</th>
                            <th scope="col" class="align-middle">Livraison</th>
                            <th scope="col" class="align-middle" style="width: 110px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="pizza-slots-table">

                        </tbody>
                    </table>

                    <div class="pt-5">

                        <form action="javascript:void(0);">

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-insalan" id="pizzas-confirm-btn">Enregistrer</button>
                                </div>
                            </div>


                        </form>

                    </div>

                </div>

            </div>
        </div>


    </div>

    <!-- Modal Remove Announce -->

    <div class="modal modal-insalan" id="delete-announce-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer cette annonce ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-announce-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Create Announce -->

    <div class="modal modal-insalan" id="create-announce-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Créer une annonce</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="create-announce-form" action="javascript:void(0);">

                            <div class="form-group row">
                                <div class="col-sm-4">Annonce visible ?</div>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="create-announce-visible">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="create-announce-title" class="col-sm-4 col-form-label">Titre de l'annonce : </label>
                                <input type="text" class="form-control col-sm-8" id="create-announce-title">
                            </div>

                            <div class="form-group row">
                                <label for="create-announce-content" class="col-sm-4 col-form-label">Contenu de l'annonce : </label>
                                <textarea class="form-control col-sm-8" id="create-announce-content"></textarea>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-insalan" id="create-announce-btn">Valider</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Modify Announce -->

    <div class="modal modal-insalan" id="modify-announce-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier une annonce</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="modify-announce-form" action="javascript:void(0);">

                            <div class="form-group row">
                                <div class="col-sm-4">Annonce visible ?</div>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="modify-announce-visible">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="modify-announce-title" class="col-sm-4 col-form-label">Titre de l'annonce : </label>
                                <input type="text" class="form-control col-sm-8" id="modify-announce-title">
                            </div>

                            <div class="form-group row">
                                <label for="modify-announce-content" class="col-sm-4 col-form-label">Contenu de l'annonce : </label>
                                <textarea class="form-control col-sm-8" id="modify-announce-content"></textarea>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-insalan" id="modify-announce-confirm-btn">Valider</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal Remove Pizza Slot -->

    <div class="modal modal-insalan" id="delete-pizza-slot-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer ce créneau de pizzas ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-pizza-slot-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Create Pizza Slot -->

    <div class="modal modal-insalan" id="create-pizza-slot-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Créer un créneau de pizzas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="create-pizza-slot-form" action="javascript:void(0);">
                            <div class="form-group row">
                                <label for="create-pizza-slot-orders-begin" class="col-sm-5 col-form-label">Heure de début des commandes : </label>
                                <input type="time" class="form-control col-sm-7" id="create-pizza-slot-orders-begin">
                            </div>

                            <div class="form-group row">
                                <label for="create-pizza-slot-orders-end" class="col-sm-5 col-form-label">Heure de fin des commandes : </label>
                                <input type="time" class="form-control col-sm-7" id="create-pizza-slot-orders-end">
                            </div>

                            <div class="form-group row">
                                <label for="create-pizza-slot-delivery" class="col-sm-5 col-form-label">Heure de livraison : </label>
                                <input type="time" class="form-control col-sm-7" id="create-pizza-slot-delivery">
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-insalan" id="create-pizza-slot-btn">Valider</button>
                </div>
            </div>
        </div>
    </div>


    <script>


        $.ajaxSetup({

            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    csrftoken = $("[name=csrfmiddlewaretoken]").val();
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }

        });

        function reload_pizzas_settings() {

            $.getJSON( "/api/widgets/pizzas/", function( data ) {
                $("#pizzas-visible").prop('checked', data["visible"]);
                $("#pizzas-online-order-url").val(data["online_order_url"]);
            });

        }


        function reload_pizza_slots_table() {

            $("#pizza-slots-table").empty();

            $.getJSON( "/api/widgets/pizzas/slots/", function( data ) {

                if (data.length == 0) {
                    $("#pizza-slots-table").append("<tr><td colspan=\"5\" class=\"text-center\">Aucun créneau n'est enregistré.</td></tr>")
                }

                else {

                    let i = 1;

                    $.each(data, function (k, a) {

                        $("#pizza-slots-table").append("<tr>\n" +
                            "                    <th scope=\"row\">" + i + "</th>\n" +
                            "                    <td>" + a.orders_begin + "</td>\n" +
                            "                    <td>" + a.orders_end + "</td>\n" +
                            "                    <td>" + a.delivery + "</td>\n" +
                            "                    <td>\n" +
                            "                        <div class=\"text-center\" role=\"group\" aria-label=\"Actions\">\n" +
                            "                            <button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Supprimer le créneau\" class=\"btn btn-sec-insalan delete-pizza-slot-btn\" data-slotid=\"" + a.id + "\" aria-label=\"Supprimer le créneau\"><span class=\"fas fa-trash\" aria-hidden=\"true\"></span></button>\n" +
                            "                        </div>\n" +
                            "                    </td>\n" +
                            "                </tr>");

                        i++;

                    });

                }
            });
        }


        function reload_announces_table() {

            $("#announces-table").empty();

            $.getJSON( "/api/widgets/announce/", function( data ) {

                if (data.length == 0) {
                    $("#announces-table").append("<tr><td colspan=\"5\" class=\"text-center\">Aucune annonce n'est enregistrée.</td></tr>")
                }

                else {

                    let i = 1;

                    $.each(data, function (k, a) {

                        let content = a.content.substring(0, 50) + " ...";

                        $("#announces-table").append("<tr>\n" +
                            "                    <th scope=\"row\">" + i + "</th>\n" +
                            "                    <td>" + a.title + "</td>\n" +
                            "                    <td>" + content + "</td>\n" +
                            "                    <td>" + ( (a.visible) ? "<span class=\"badge badge-success\"><i class=\"fas fa-check\"></i></span>" : "<span class=\"badge badge-danger\"><i class=\"fas fa-times\"></i></span>" ) + "</td>\n" +
                            "                    <td>\n" +
                            "                        <div class=\"text-center\" role=\"group\" aria-label=\"Actions\">\n" +
                            "                            <button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Modifier l'annonce\" class=\"btn btn-sec-insalan modify-announce-btn\" data-announceid=\"" + a.id + "\" aria-label=\"Modifier l'annonce\"><span class=\"fas fa-pen\" aria-hidden=\"true\"></span></button>\n" +
                            "                            <button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Supprimer l'annonce\" class=\"btn btn-sec-insalan delete-announce-btn\" data-announceid=\"" + a.id + "\" aria-label=\"Supprimer l'annonce\"><span class=\"fas fa-trash\" aria-hidden=\"true\"></span></button>\n" +
                            "                        </div>\n" +
                            "                    </td>\n" +
                            "                </tr>");

                        i++;

                    });

                }

            });
        }

        function reload_realtime_status_settings() {

            $.getJSON( "/api/widgets/status", function( data ) {
                $("#realtime-visible").prop('checked', data["visible"]);
                $("#realtime-lan-status").val("Status."+data["lan"]);
                $("#realtime-wan-status").val("Status."+data["wan"]);
                $("#realtime-csgo-status").val("Status."+data["csgo"]);
            });

        }

        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            let id = e.target.id;

            if (id == "widget-announces-tab") {
                reload_announces_table();
            }

            if (id == "widget-realtime-status-tab") {
                reload_realtime_status_settings();
            }

            if (id == "widget-pizzas-tab") {
                reload_pizzas_settings();
                reload_pizza_slots_table();
            }
        });


        $(document).on("click", ".delete-announce-btn", function (e) {
            let id = $(this).data("announceid");
            $("#delete-announce-confirm-btn").data("announceid", id);
            $("#delete-announce-modal").modal("show");
        });


        $("#delete-announce-confirm-btn").click( function () {

            let id = $(this).data("announceid");

            $.ajax({
                url: '/api/widgets/announce/'+id,
                type: 'DELETE',

                success: function(result) {
                    reload_announces_table();
                },

                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }
            });


            $("#delete-announce-modal").modal("hide");

        });



        $("#create-announce-btn").click( function () {

            let data = {
                "visible": $("#create-announce-visible").is(':checked'),
                "title": $("#create-announce-title").val(),
                "content": $("#create-announce-content").val()
            };

            if (!/^[^<>]+$/.test(data["title"])  || data["title"].length > 50) {
                create_error_modal("Oops", "<p>Le titre de l'annonce ne peut pas faire plus de 50 caractères ou contenir les caractères <b>&lt;</b> et <b>&gt;</b>.</p>");
            }

            else if (!/^[^<>]+$/.test(data["content"])) {
                create_error_modal("Oops", "<p>Le contenu l'annonce ne peut pas contenir les caractères <b>&lt;</b> et <b>&gt;</b>.</p>");
            }

            else {


                $.ajax({
                    url: '/api/widgets/announce/',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),

                    success: function (result) {
                        reload_announces_table();
                    },

                    error: function (xhr, textStatus, errorThrown) {
                        handle_error(textStatus, errorThrown, xhr.responseText);
                    }

                });

            }

            $("#create-announce-modal").modal("hide");


        });

        $(document).on("click", ".modify-announce-btn", function () {

            let id = $(this).data("announceid");
            $("#modify-announce-confirm-btn").data("announceid", id);

            $("#modify-announce-visible").prop('checked', false);
            $("#modify-announce-title").empty();
            $("#modify-announce-content").empty();

            $.getJSON("/api/widgets/announce/" + id, function (data) {
                $("#modify-announce-visible").prop('checked', data["visible"]);
                $("#modify-announce-title").val(data["title"]);
                $("#modify-announce-content").val(data["content"]);
            });


            $("#modify-announce-modal").modal('show');

        });

        $("#modify-announce-confirm-btn").click( function () {

            let id = $(this).data("announceid");
            let data = {
                "visible": $("#modify-announce-visible").is(':checked'),
                "title": $("#modify-announce-title").val(),
                "content": $("#modify-announce-content").val()
            };

            if (!/^[^<>]+$/.test(data["title"])  || data["title"].length > 50) {
                create_error_modal("Oops", "<p>Le titre de l'annonce ne peut pas faire plus de 50 caractères ou contenir les caractères <b>&lt;</b> et <b>&gt;</b>.</p>");
            }

            else if (!/^[^<>]+$/.test(data["content"])) {
                create_error_modal("Oops", "<p>Le contenu l'annonce ne peut pas contenir les caractères <b>&lt;</b> et <b>&gt;</b>.</p>");
            }

            else {


                $.ajax({
                    url: '/api/widgets/announce/' + id,
                    type: 'PUT',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),

                    success: function (result) {
                        reload_announces_table();
                    },

                    error: function (xhr, textStatus, errorThrown) {
                        handle_error(textStatus, errorThrown, xhr.responseText);
                    }

                });

            }

            $("#modify-announce-modal").modal("hide");


        });




        $("#realtime-confirm-btn").click(function () {
            $("#realtime-feedback").empty();

            let data  = {
                "visible": $("#realtime-visible").prop('checked'),
                "lan": $("#realtime-lan-status").val(),
                "wan": $("#realtime-wan-status").val(),
                "csgo": $("#realtime-csgo-status").val()
            };

            $.ajax({
                url: '/api/widgets/status/',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),

                success: function (result) {
                    reload_realtime_status_settings();

                    $("#realtime-feedback").append("<div class=\"alert alert-success-insalan\" role=\"alert\"><strong>Mise à jour effectuée.</strong></div>");
                    setTimeout(function () { $("#realtime-feedback").empty() }, 6000);
                },

                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }

            });

        });

        $(document).on("click", ".delete-pizza-slot-btn", function (e) {
            let id = $(this).data("slotid");
            $("#delete-pizza-slot-confirm-btn").data("slotid", id);
            $("#delete-pizza-slot-modal").modal("show");
        });


        $("#delete-pizza-slot-confirm-btn").click( function () {

            let id = $(this).data("slotid");

            $.ajax({
                url: '/api/widgets/pizzas/slots/'+id,
                type: 'DELETE',

                success: function(result) {
                    reload_pizza_slots_table();
                },

                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }
            });


            $("#delete-pizza-slot-modal").modal("hide");

        });


        $("#create-pizza-slot-btn").click( function () {

            let data = {
                "orders_begin": $("#create-pizza-slot-orders-begin").val(),
                "orders_end": $("#create-pizza-slot-orders-end").val(),
                "delivery": $("#create-pizza-slot-delivery").val()
            };

            $.ajax({
                url: '/api/widgets/pizzas/slots/',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),

                success: function (result) {
                    reload_pizzas_settings();
                    reload_pizza_slots_table();
                },

                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }

            });


            $("#create-pizza-slot-modal").modal("hide");


        });


        $("#pizzas-confirm-btn").click(function () {
            $("#pizzas-feedback").empty();

            let data  = {
                "visible": $("#pizzas-visible").prop('checked')
            };

            $.ajax({
                url: '/api/widgets/pizzas/',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),

                success: function (result) {
                    reload_pizza_slots_table();

                    $("#pizzas-feedback").append("<div class=\"alert alert-success-insalan\" role=\"alert\"><strong>Mise à jour effectuée.</strong></div>");
                    setTimeout(function () { $("#pizzas-feedback").empty() }, 6000);
                },

                error: function (xhr, textStatus, errorThrown) {
                    handle_error(textStatus, errorThrown, xhr.responseText);
                }

            });

        });


        $(document).ready(function () {
            reload_announces_table();
            $("#announces-table").tooltip({offset: "5px, 5px", selector: '[data-toggle=tooltip]'});
            $("#pizza-slots-table").tooltip({offset: "5px, 5px", selector: '[data-toggle=tooltip]'});
        });



    </script>



{% endblock %}
