{% extends 'layout.html' %}
{% load static %}

{% block title %}Administration des joueurs{% endblock %}
{% block content %}

    {% include 'portal/modal_create_user.html' %}
    {% include 'portal/modal_modify_user.html' %}
    {% include 'portal/modal_user_details.html' %}

    {% csrf_token %} <!-- Token needed for AJAX calls -->

    {% include 'portal/management_layout.html' %}
<div class="col-sm-12 col-md-9 col-lg-10 col-xl-10 text-white mx-auto">

  <!-- main table -->
      <nav id="navbar-title" class="navbar navbar-dark pb-4">
          <a class="navbar-brand" href="#"></a>
          <ul class="nav nav-pills">
              <li class="nav-item">
                <button type="button" class="btn btn-primary align-right create-whitelist-modal-btn" data-toggle="modal">Nouvel Appareil Autorisé</button>
              </li>
          </ul>
      </nav>


      <table id="whitelist-table" class="table table-sm table-bordered">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">MAC</th>
              <th scope="col" style="width: 10%;">Actions</th>
          </tr>
          </thead>
      </table>


    <!-- Modal Add Whitelist_Device -->
    <div class="modal modal-insalan fade" id="create-whitelist-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un appareil autorisé</h5>
                    <button tabindex="-1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                      <form>
                            <div class="form-group row">
                                <label for="create-whitelist-modal" class="col-sm-5 col-form-label">MAC de l'appareil: </label>
                                <input tabindex="4" type="text" class="form-control col-sm-7 disabled" id="create-whitelist-mac-input">
                            </div>
                            <div class="form-group row">
                                <label for="create-whitelist-modal" class="col-sm-5 col-form-label">Nom de l'appareil: </label>
                                <input tabindex="4" type="text" class="form-control col-sm-7 disabled" id="create-whitelist-name-input">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="-1">Fermer</button>
                    <button tabindex="9" type="button" class="btn btn-primary" id="create-whitelist-btn">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Remove Whitelist_Device -->
    <div class="modal modal-insalan" id="delete-whitelist-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-white">
                    <p>Voulez-vous vraiment supprimer l'appareil autorisé <b id="delete-whitelist"></b> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" id="delete-whitlist-confirm-btn">Oui</button>
                </div>
            </div>
        </div>
    </div>

</div>

    <script src="{% static "js/Chart.bundle.min.js" %}"></script>

    <script>

	let table = null;

        $(document).ready(function () {

            table = $("#whitelist-table").DataTable({

                ajax: {
                    url: '/api/whitelist_device/',
                    dataSrc: ''
                },

                columns: [
                    { "data": "id" },
                    { "data": "name" },
                    { "data": "mac" },
                    { "data": null}
                ],

                columnDefs: [
                    {
                        "render": function ( data, type, row ) {

                            let html = "<div role=\"group\" class=\"btn-group btn-group-sm\" aria-label=\"Actions\">\n" +
                                    "<button type=\"button\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Supprimer l'appareil\" class=\"btn btn-secondary delete-whitelist-modal-btn\" data-userid=\""+row["id"] +"\"><span class=\"fas fa-trash\" aria-hidden=\"true\"></span></button>\n" +
                                    "</div>";

                            return html;
                        },

                        "orderable": false,

                        "targets": 3,
                    },
                ],

                order: [[1, 'asc']]
            });

            $("#whitelist-table").tooltip({offset: "5px, 5px", selector: '[data-toggle=tooltip]'});

        });

    </script>

   <script src="{% static "js/main-global.js" %}"></script>
   <script src="{% static "js/main-admin.js" %}"></script>

{% endblock %}
