<!-- Modal Create Team -->

<div class="modal modal-insalan fade" id="add-team" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une équipe à la map</h5>
                <button tabindex="-1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div id="create-team-feedback" class="pt-2 pb-3 d-none"></div>

                    <form id="create-team-form">
                        <p class="faq-cat-header">Information sur l'equipe</p>

                        <div class="form-group row" id="create-team-name-g">
                            <label for="create-team-name" class="col-sm-4 col-form-label">Nom de l'équipe: </label>
                            <input tabindex="1" type="text" class="form-control col-sm-8" id="create-team-name">
                        </div>

                        <p class="faq-cat-header">Tournoi</p>

                        <div class="form-group row" id="create-team-tournament-g">
                            <label for="create-team-role" class="col-sm-4 col-form-label">Tournoi : </label>
                            <select tabindex="7" class="form-control col-sm-8" id="create-team-tournament">
                                <option value="no">Aucun</option>
                                <option value="Tournament.csgo">Counter Strike Global Offensive</option>
                                <option value="Tournament.dota">Dota 2</option>
                                <option value="Tournament.tft">Team Fight Tactics</option>
                                <option value="Tournament.lol">League Of Legends</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="-1">Fermer</button>
                <button tabindex="9" type="button" class="btn btn-primary" id="create-team-confirm-btn">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
