{% extends 'layout.html' %}

{% block content %}


    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9 main">

        {# main content (forms, infos...) goes there #}
        {% block main %}
        {% endblock %}

    </div>


    <div class="d-none d-md-block d-lg-block d-xl-block col-md-4 col-lg-3 col-xl-3 widget-bar-insalan pt-4">

        {# widget bar #}

        {% if widgets.STATUS.visible %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">État du réseau</h5>
                <p class="card-text">
                    Réseau local : {% if widgets.STATUS.network_up %}<span class="text-success">ok</span>{% else %}<span class="text-danger">incident</span>{% endif %}<br>
                    Accès internet : {% if widgets.STATUS.internet_up %}<span class="text-success">ok</span>{% else %}<span class="text-danger">incident</span>{% endif %}<br>
                    Serveur CS:GO : {% if widgets.STATUS.csgo_up %}<span class="text-success">ok</span>{% else %}<span class="text-danger">incident</span>{% endif %}<br>
                </p>
            </div>
        </div>

        {% endif %}

        {% if widgets.ANNOUNCE.visible %}

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Annonce</h5>
                    <p class="card-text">
                        {{ widgets.ANNOUNCE.content }}
                    </p>
                </div>
            </div>

        {% endif %}

        {% if widgets.PIZZA.visible %}

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pizzas</h5>
                    <p class="card-text">Voici les crénaux auxquels vous pouvez commander :</p>
                    <ul>
                        {% for h in widgets.PIZZA.schedule %}
                        <li>{{ h }}</li>
                        {% endfor %}
                    </ul>
                    <p class="card-text">Vous pouvez commander en ligne (règlement CB) ou à la buvette (chèques,
                        espèces)</p>
                    <a href="{{ widgets.PIZZA.link }}" class="card-link">Commander en ligne</a>
                </div>
            </div>

        {% endif %}

    </div>


{% endblock %}
