[Unit]
Description=langate2000-netcontrol
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /root/reseau15/langate2000/langate2000-netcontrol/netcontrol.py
WorkingDirectory=/root/reseau15/langate2000/langate2000-netcontrol

[Install]
WantedBy=multi-user.target
