/* Custom CSS rules for the dark theme */
/* most of these rules override bootstrap rules */

.background-insalan {
    background-color: #36393F;
}

html, body {
    height: 100%;
}

#content p {
    color: #AFB3AA; /* by default, all text is grey */
}

hr {
    border-top: .5px solid rgba(255, 255, 255, .3);
}

.logo-connected {
    width: 17rem;
}

/* Navbar */

.navbar-insalan {
    background-color: #2A2A2A !important; /* black navbar */
}

.active .nav-link {
    color: #fff !important; /* white for selected links */
}

.navbar-nav .nav-link {
    color: #AFB3AA; /* white-grey for unselected links */
}

.navbar-insalan .navbar-brand img {
    margin-right: 0.45rem;
}

.navbar-insalan .navbar-brand {
    margin-right: 0.7rem !important;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand, .navbar-dark .navbar-brand:active, .navbar-dark .navbar-brand:focus {
    color: #AFB3AA;
}

.navbar-insalan .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(185, 187, 190)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-insalan .navbar-toggler {
  border-color: #AFB3AA;
}

/* Forms */

.form-control, .form-control:hover, .form-control:focus {
    background-color: #313339; /* dark grey for form controls */
    border-radius: 3px !important;
    border: 1px solid rgba(0, 0, 0, .3) !important;
    color: #b9bbbe;
}

.form-auth label { /* form labels are grey with small uppercase text on the login page */
    color: #b9bbbe;
    font-size: small;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600;
}

.invalid-feedback {
    font-size: 80%;
    color: #f25435 !important;
    margin-top: .55rem;
}

.non-field-errors {
    font-size: 80%;
    color: #f25435;
    margin-bottom: .65rem;
}

@media (max-height: 640px) {
    /* below h=660 we need to set a padding before the footer otherwise the footer covers things */
    .form-auth {
        padding-bottom: 3rem;
    }
}

/* Buttons */

.btn-insalan {
    background-color: #0062cc; /* blue buttons */
    color: #fff;
}

.btn-insalan:active, .btn-insalan:hover {
    background-color: #007bff;
}

.btn-sec-insalan {
    background-color: #545b62;
    border: 0;
    color: #fff;
    padding: .255rem .65rem;
    margin-right: .2rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.btn-sec-insalan:active, .btn-sec-insalan:hover {
    background-color: #6c757d !important;
    border: 0 !important;
}

.btn-sec-insalan:focus {
    box-shadow: none; /* temporary */
}

/* Tables */

.table-insalan td, .table-insalan th {
    border: .2px solid rgba(0, 0, 0, .3) !important;
}

.table-insalan thead th {
    border-bottom-width: .2px;
}

.table-insalan {
    margin-top: 2rem;
    margin-bottom: 2rem !important;
    background-color: #313339;
    font-size: .95rem;
}

.table-insalan th, td {
    vertical-align: middle !important;
}

.table-insalan.table-sm .fas {
    font-size: .85rem; /* icons in buttons have to be smaller when used in a small table */
}

/* Right widget bar displayed on the home pages */

.widget-bar-insalan .card {
    color: #AFB3AA;
    margin-bottom: 1rem;
    background-color: #313339;
    border: 1px solid rgba(0, 0, 0, .3);
}

.widget-bar-insalan .card-title {
    color: #fff;
}

/* Text related stuff */

.text-white {
    color: #b9bbbe !important; /* white-grey for texts in general */
}

.text-blue {
    color: #007bff;
}

.text-danger {
    color: #f25435 !important;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover, a:active {
    color: #0062cc;
    text-decoration: none;
}

/* Modals */

.modal-insalan .modal-content {
    background-color: #36393F;
    color: #b9bbbe !important;
}

.modal-insalan .modal-header {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.modal-insalan .modal-footer {
    border-top: 1px solid rgba(255, 255, 255, .15);
}

.close, .close:hover, .close:active {
    color: #fff;
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1000px;
    }
}

/* FAQ */

.faq-cat {
    padding-top: 1rem;
}

.faq-cat-header {
    color: #b9bbbe !important;
    font-size: small;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 5px;
}

.faq-answer-container {
    padding-bottom: 10px;
}

.faq-answer-container p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.faq-question .material-icons {
    vertical-align: middle;
}

/* Jumbotron */

.jumbotron {
    background-color: #b9bbbe;
}

.jumbotron p, .jumbotron h1 {
    color: #212529 !important;
}

/* Alerts */

.alert-success-insalan {
    background-color: transparent;
    color: #00ae18;
    border: 2px solid #2da73dcc !important;
}

/* Pagination */

.page-item.disabled .page-link {
    background-color: #313339;
    color: #fff;
}

.page-link {
    color: #fff;
    background-color: #545b62;
    border: .2px solid rgba(0, 0, 0, .3) !important;
}

form-control:disabled, .form-control[readonly] {
    background-color: #2A2A2A !important;
}

/* Tabs */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff3cd;
    background-color: #495057;
    border-color: rgb(128, 128, 128) rgb(128, 128, 128) rgb(128, 128, 128);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: rgb(128, 128, 128) rgb(128, 128, 128) rgb(128, 128, 128);
}

.nav-tabs {
    border-bottom: 1px solid rgb(128, 128, 128);
}

/* Footer */

.footer-insalan {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, .5); /* understated grey for the footer */
}

.footer-insalan a {
    color: #fff;
    text-decoration: none;
}

.footer-insalan a:hover, a:active {
    color: #b9bbbe;
    text-decoration: none;
}

.footer-insalan > ul li
{
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    border-left-style: solid;
    border-left-width: 1px;
    line-height: 1em;
    border-color: #9a9a9a;
}

.footer-insalan > ul
{
    list-style-type: none;
    padding: 0 !important;
}

/* Management */

.col-actions-admin-insalan {
    width: 10%;
}

#management-title {
    font-size: 2rem;
}

.management-nav-insalan .nav-link.active {
    background-color: #2A2A2A;
}

.management-nav-insalan a {
    color: #b9bbbe;
}

/* InsaLan pulsing logo */

.logo-connected, logo {
    animation: beat 2s infinite alternate;
    transform-origin: center;
}

@keyframes beat {
    to { transform: scale(1.05) }
}