{% extends 'registration/registration_layout.html' %}
{% load bootstrap4 %}

{% block title %}Connexion{% endblock %}
{% block main %}

    <div class="pt-5 text-white text-center">
        <h2>Bienvenue sur le réseau de l'InsaLan !</h2>
        <p>Pour pouvoir accéder à internet et aux serveurs de jeu, il faut vous identifier avec votre compte insalan.fr</p>
    </div>
    <div class="row">
        <div class="pt-4 col-sm-12 col-md-6 col-lg-5 col-xl-4 mx-auto">
            <form class="form-auth" method="post">

                {% csrf_token %}

                {% bootstrap_form_errors form type='non_fields' %}
                {% bootstrap_field form.username placeholder='' %}
                {% bootstrap_field form.password placeholder='' %}

                {% buttons %}

		<!--<div class="pt-4 text-center">-->
                        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                <!--</div>-->

                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}
