<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <title>{% block title %}{% endblock %} - Insalan Langate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}" />
    <link id="custom-stylesheet" rel="stylesheet" href="{% static "css/langate.css" %}" />
    <link rel="stylesheet" href="{% static "css/fontawesome.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/datatables.min.css" %}"/>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "js/datatables.min.js" %}"></script>
    <script src="{% static "js/error_handling.js" %}"></script>

</head>
<body class="background-insalan">
<div class="d-flex flex-column h-100">

    <div class="header">
        {# Navbar bootstrap #}
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-insalan">
                <a class="navbar-brand" href="/" style="color:#F8F9FA">
                    <img src="{% static "logo.png" %}" width="34" height="30"/>
                    Portail InsaLan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        {% block navitem-home %}
                            <li class="nav-item {% if page_name == "connected" or "accounts" in request.path %}active{% endif %}">
                                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                        {% endblock %}
                        {% block navitem-faq %}
                            <li class="nav-item {% if page_name == "faq" %}active{% endif %}">
                                <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                            </li>
                        {% endblock %}
                        {% if user.is_staff %}
                            {% block navitem-management %}
                                <li class="nav-item {% if page_name == "management" %}active{% endif %}">
                                    <a class="nav-link" href="{% url 'management' %}">Gestion</a>
                                </li>
                            {% endblock %}
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav ml-auto">

                        {% if user.is_authenticated %}
                            <li class="nav-item">
				    <a class="nav-link" href="{% url 'disconnect' %}">Déconnexion</a>
                            </li>
                        {% endif %}

                    </ul>

                </div>
            </nav>
        {% endblock %}
    </div>

    <div class="container-fluid">
        <div class="row" id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div class="text-center mt-auto footer-insalan">
        <p> InsaLan, Rennes | 2017 / 2018 © Logiciel distribué sous licence Apache <a href="#" class="link">Crédits</a>
        </p>
    </div>

</div>

</body>
</html>
