{% extends 'helpdesk.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <center><h1 class="display-5" style="color: #FFF">{{ticket.title}}</h1></center>
    {% if sent %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
               <center>Votre message a bien été envoyé!</center>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
        </div>
    {% endif %}
       
        {% for message in messages %}
        <center><p class="mb-1">{{message}}</li>
            <small class="text-muted">{{message.sender}} - ({{message.date|date:"l - H:m"}})</small>
        </p></center>
        {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <center>
        <div class="btn-group text-center">
            <button type="submit" class="btn btn-success btn-block">envoyer</button>
            <a type="button" class="btn btn-danger" href="{% url 'ticket_close' ticket_id=ticket.id %}">fermer</a>
        </div>
        </center>
    </form>
</div>
{% endblock %}
