// Color scheme definition

// from dark to light grey
$color-mine-shaft: #2a2a2a;
$color-tuna: #313339;
$color-tuna-darker: #36393f;
$color-abbey: #545b62;
$color-bud: #afb3aa;
$color-silver-sand: #b9bbbe;

$color-white: #fff;

// green
$color-green-haze: #00ae18;

// red
$color-flamingo: #f25435;

$theme-colors: (
       "dark": $color-tuna,
       "secondary": $color-abbey,
       "success": $color-green-haze,
       "danger": $color-flamingo
);


$color-black-transparent: rgba(0, 0, 0, .3);
$color-white-transparent: rgba(255, 255, 255, .15);

$alert-color-level: 0;
$alert-border-level: 1;

// bootstrap variables overrides

$body-bg: $color-tuna-darker;
$body-color: $color-bud;

//$link-color: $color-bud;
//$link-hover-color: $color-white;
$link-hover-decoration: none;

$navbar-dark-color: $color-bud;
$navbar-dark-active-color: $color-white;

$table-bg: $color-tuna;
$table-border-width: .2px;
$table-border-color: $color-black-transparent;
$table-head-border-color: $color-black-transparent;
$table-cell-vertical-align: middle;

$input-bg: $color-tuna;
$input-disabled-bg: $color-mine-shaft;
$input-color: $color-bud;
$input-border-width: 1px;
$input-border-color: $color-black-transparent;
$input-border-radius: 3px;
$input-focus-border-color: transparent;

$card-bg: $color-tuna;
$card-border-width: 1px;
$card-border-color: $color-black-transparent;

$modal-content-bg: $color-tuna-darker;
$modal-header-border-width: 0px;
$modal-footer-border-width: 0px;

$pagination-bg: $color-abbey;
$pagination-color: $color-white;
$pagination-border-color: $color-black-transparent;
$pagination-hover-border-color: $color-black-transparent;
$pagination-active-border-color: $color-black-transparent;
$pagination-disabled-bg: $color-tuna;
$pagination-disabled-color: $color-white;
$pagination-disabled-border-color: $color-black-transparent;

$nav-tabs-link-active-color: $color-white;
$nav-tabs-link-hover-border-color: #696b6f;
$nav-tabs-border-color: #696b6f;
$nav-tabs-link-active-bg: transparent;

$nav-pills-link-active-bg: $color-abbey;

$close-color: $color-black-transparent;
$badge-color: $color-tuna;

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-utilities";

// Bootstrap rules extensions

.card-title {
	color: $color-white;
}

.alert {
	background-color: transparent;
}

.form-group {
	margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1000px;
    }
}

.modal-header {
	color: $color-white !important;
}

// Custom rules

html, body {
    height: 100%; // needed for the sticky footer
}

%small-letters-header {
    color: $color-silver-sand;
    font-size: small;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 700;
}

.form-auth label {
    @extend %small-letters-header;
}

.logo-connected {
    width: 17rem;
}

.table-sm .fas {
    font-size: .85rem; // icons in buttons have to be smaller when used in a small table
}

// custom CSS for the announcement cards

.widget-bar-insalan {
    .card {
        margin-bottom: .75rem;
    }

    .card-title {
        margin-bottom: 0;
    }

    .card-text {
        margin-top: .5rem;

        p {
            margin-bottom: .5rem;
        }

        h1 {
            font-size: 1.4rem;
            color: $color-white;
        }

        h2 {
            font-size: 1.25rem;
            color: $color-white;
        }

        h3,
        h4,
        h5,
        h6 {
            font-size: 1rem;
            color: $color-white;
        }

        img[title~="icon"] {
            height: 3.5rem;
        }
    }
}

// Pulsing logo

@keyframes beat {
    to { transform: scale(1.05) }
}

.logo-connected {
    animation: beat 2s infinite alternate;
    transform-origin: center;
}

// Custom footer

.footer-insalan {

    font-size: 0.9rem;
    color: $color-silver-sand;
    padding-top: 3rem;

    ul li {
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
        border-left-style: solid;
        border-left-width: 1px;
        line-height: 1em;
        border-color: $color-white-transparent;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }

}

// Custom FAQ section


.faq-cat-header {
    @extend %small-letters-header;
    border-bottom: 1px solid $color-white-transparent;
    padding-bottom: 5px;
}

.faq-answer-container {
    padding-bottom: 10px;
}

.faq-question .material-icons {
    vertical-align: middle;
}


#insalan_netmap path {
    fill: #757575;
}

#insalan_netmap path:hover {
    fill: #000000;
}